<ion-view view-title="Transportplanering">
  <ion-nav-bar class="bar-light">
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Användarnamn</span>
        <input type="text" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Lösenord</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="login(user)">
        Logga in
      </button>
    </div>
  </ion-content>
</ion-view>
