<ion-view view-title="Transportplanering" class="login">
    <ion-content>
        <form>
            <div class="login-logo">
                <img src="img/Logo.png" alt="">
            </div>
            <input type="text" placeholder="Användarnamn" ng-model="user.username" class="login-text login-text-username">
            <input type="password" placeholder="Lösenord" ng-model="user.password" class="login-text">
            <input type="button" class="button button-positive login-button" value="Logga in" ng-click="login(user, site.name)">

        </form>
    
        <form>
        <input type="button" class="button button-balanced" value="Klicka här för Demoanvändare" ng-click="loginDemo()">
        </form>



        <!--
        <div class="padding">
            <select ng-init="site=options[0]" ng-model="site" ng-options="option.name for option in options">
            </select>
        </div>
        -->

    </ion-content>
</ion-view>
