<ion-view view-title="Körning">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label"><b>Datum:</b></span>
                <span>{{task.date}}</span>
            </label>
            <label class="item item-icon-left item-input">
                <span class="input-label"><b>Från:</b></span>
                <span>{{task.from}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label"><b>Till:</b></span>
                <span>{{task.to}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label"><b>Kund:</b></span>
                <span>{{task.customer}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label"><b>Gods:</b></span>
                <span>{{task.goods}}</span>
            </label>
            <div class="card">
                <div class="item item-text-wrap">
                    <h2><b>Anmärkningar</b></h2>{{task.notes}}
                </div>
            </div>
        </div>
        <div class="item item-divider">
            Körning klar
        </div>
        <label class="item item-input">
            <span class="input-label"><b>Tid:</b></span>
            <input type="number" ng-model="task.time">
        </label>
        <button class="button button-positive button-full" ng-click="showConfirm()" ng-disabled="!task.time">
            Kvittera körning
        </button>


    </ion-content>
</ion-view>