<ion-view view-title="Körning">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label"><b>Datum:</b></span>
                <span>{{task.date}}</span>
            </label>
            <label class="item item-icon-left item-input">
                <span class="input-label"><b>Från:</b></span>
                <span>{{task.from}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label"><b>Till:</b></span>
                <span>{{task.to}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label"><b>Kund:</b></span>
                <span>{{task.customer}}</span>
            </label>
            <label class="item item-input">
                <span class="input-label"><b>Gods:</b></span>
                <span>{{task.goods}}</span>
            </label>
            <div class="card">
                <div class="item item-text-wrap">
                    <h2><b>Anmärkningar</b></h2>{{task.notes}}
                </div>
            </div>
        </div>
        <div class="item item-divider">
            Körning
        </div>
        <label class="item item-input" ng-show="!task.started">
            <span class="input-label"><b>Start Mätarställning:</b></span>
            <input type="text" ng-model="task.startDistance">
        </label>
        <button class="button button-positive button-full" ng-click="startTask()" ng-disabled="!task.startDistance" ng-show="!task.started">
            Påbörja körning
        </button>
        <label class="item item-input" ng-show="task.started">
            <span class="input-label"><b>Stopp Mätarställning:</b></span>
            <input type="text" ng-model="task.stoppedDistance">
        </label>
        <button class="button button-positive button-full" ng-click="showConfirm()" ng-show="task.started" ng-disabled="!task.stoppedDistance" >
            Avsluta körning
        </button>
        
        <!-- LASTNING -->
        <div class="item item-divider" ng-show="!task.stopUnload">
            Lastning / Lossning
        </div>
        <button class="button button-positive button-full" ng-click="startLoading()" ng-disabled="!task.started" ng-show="!task.startLoad">
            Påbörja lastning
        </button>
        <button class="button button-positive button-full" ng-click="stopLoading()" ng-show="task.startLoad && !task.stopLoad">
            Avsluta lastning
        </button>
        
        <button class="button button-positive button-full" ng-click="startUnloading()" ng-show="task.stopLoad && !task.startUnload">
            Påbörja lossning
        </button>
        <button class="button button-positive button-full" ng-click="stopUnloading()" ng-show="task.startUnload && !task.stopUnload">
            Avsluta lossning
        </button>
        
        
        
        <div class="item item-divider">
            Manuell tid
        </div>
        <label class="item item-input">
            <span class="input-label"><b>Tid:</b></span>
            <input type="number" ng-model="task.time">
        </label>
        <button class="button button-positive button-full" ng-click="showConfirm()" ng-disabled="!task.time">
            Kvittera körning
        </button>


    </ion-content>
</ion-view>