<ion-view view-title="Körningar" class="korningar">
    <ion-content>
        <ion-list>
            <div collection-repeat="task in tasks | filter:{receipted:false} | filter:{driver:loggedInUser} | orderBy:'date'" ui-sref="app.detail({ taskId: task.$id})">
                <div class="item">
                    <div class="row">
                        <div class="col col-10 item-align">
                            <div class="item-icon">
                                <i class="fa fa-truck"></i>
                            </div>
                        </div>
                        <div class="row">

                        </div>

                        <div class="col col-90">
                            <b><h2>{{task.from}} - {{task.to}}</h2></b>
                            <p>{{task.date}}</p>

                        </div>

                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>

<!--
<ion-view view-title="Körningar">
    <ion-content>
        <ion-list>
            <div collection-repeat="task in tasks | filter:{receipted:false} | filter:{driver:loggedInUser} | orderBy:'date'" ui-sref="app.detail({ taskId: task.$id})">
                <div class="item item-button-right item-icon-right">
                    <h3>ID: {{task.ID}}</h3>
                    <p>Datum: {{task.date}}</p>
                    <p>Från: {{task.from}}</p>
                    <p>Till: {{task.to}}</p>
                    <i class="icon ion-chevron-right"></i>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
 -->