<ion-view view-title="Körningar">
    <ion-content>
        <ion-list>
            <div ng-repeat="task in tasks | filter:{receipted:false} | filter:{driver:loggedInUser}| limitTo:30" ui-sref="app.detail({ taskId: task.$id})">
                <div class="item item-button-right item-icon-right">
                    <h2>{{task.from}} - {{task.to}}</h2>
                    <p>{{task.date}}</p>
                    <i class="icon ion-chevron-right"></i>
                </div>
            </div>
        </ion-list>
    </ion-content>
-->
</ion-view>