<ion-view view-title="Tidsrapportering" class="tidsrapportering">

    <ion-content>
        <div class="row">
            <div class="header-timeworked">
                <span>Instämplad</span>
                <br>
                <br>
                <span class="time">{{today.checkin}}</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="header-timeworked">
                <span>Utstämplad</span>
                <br>
                <br>
                <span class="time">{{today.checkout}}</span>
            </div>
        </div>
        <br>
        <div class="checkbutton">
            <button class="checkbutton button button-outline button-balanced button-full" ng-click='checkin()' ng-disabled="today.checkin"
            ng-if="!today.checkin">Stämpla in</button>
            <button class="checkbutton button button-outline button-balanced button-full" ng-click='checkout()' ng-if="today.checkin"
            ng-disabled="today.checkout">Stämpla ut</button>
        </div>

    </ion-content>
</ion-view>